{{.Meta}}<meta name="referrer" content="never">
    {{.Head}}  <link rel="stylesheet" href="/assets/md/mobilediscord.css" id="md-styles">
    <link rel="manifest" href="/assets/md/manifest.json">
  {{.Body}}<script src="/assets/md/splash.js"></script>
    <script src="/assets/md/webrtc_winJS_api.js"></script>
    <script src="/assets/md/smoothscroll.js"></script>
    <script src="/assets/md/css-vars-ponyfill.min.js"></script>
    <script src="/assets/md/mobilediscord.js" data-origin="{{.Origin}}"></script>
    {{.Scripts}}