<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap mp uap3">
  <Identity Name="11359TimothyLiang.MobileDiscord" Version="1.1.0.0" Publisher="CN=4AB37AEC-D287-4225-877D-769609C011B9" />
  <mp:PhoneIdentity PhoneProductId="dee425a0-33e1-4f6b-ac16-8c4989098525" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MobileDiscord</DisplayName>
    <PublisherDisplayName>Timothy Liang</PublisherDisplayName>
    <Logo>images\DiscordPackageLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://mobilediscord.com" Type="include" WindowsRuntimeAccess="all" />
      </uap:ApplicationContentUriRules>
      <uap:VisualElements DisplayName="MobileDiscord" Description="MobileDiscord" BackgroundColor="#7289DA" Square150x150Logo="images\DiscordMedTile.png" Square44x44Logo="images\DiscordAppList.png">
        <uap:DefaultTile Wide310x150Logo="images\DiscordWideTile.png" ShortName="Discord" Square310x310Logo="images\DiscordLargeTile.png" Square71x71Logo="images\DiscordSmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\DiscordSplashScreen.png" BackgroundColor="#282B30" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>