body {
    -ms-content-zooming: none;
    color: #fff;
    background-color: #282b30;
}

#extended-splash-screen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#extended-splash-image {
    position: absolute;
    pointer-events: none;
}
