<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap mp uap3">
  <Identity Name="d717688e-5aff-4e62-9bd9-426a6fa19840" Version="1.0.0.0" Publisher="CN=timot" />
  <mp:PhoneIdentity PhoneProductId="d717688e-5aff-4e62-9bd9-426a6fa19840" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MobileDiscord Dev</DisplayName>
    <PublisherDisplayName>timot</PublisherDisplayName>
    <Logo>images\DiscordCanaryPackageLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://canary-dot-mobilediscord-dev.appspot.com" Type="include" WindowsRuntimeAccess="all" />
      </uap:ApplicationContentUriRules>
      <uap:VisualElements DisplayName="MobileDiscord Dev" Description="MobileDiscord Dev" BackgroundColor="#FAA61A" Square150x150Logo="images\DiscordMedTile.png" Square44x44Logo="images\DiscordCanaryAppList.png">
        <uap:LockScreen Notification="badge" BadgeLogo="images\DiscordBadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="images\DiscordWideTile.png" ShortName="Discord Dev" Square310x310Logo="images\DiscordLargeTile.png" Square71x71Logo="images\DiscordSmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\DiscordSplashScreen.png" BackgroundColor="#282B30" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>