/* loading screen */
.md-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25262a;
}

/* login */
.md-login {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/* app content */
.app-19_DXt:first-child {
    position: static; /* for Edge */
}

/* app downloads */
.download-apps {
    position: relative;
    justify-content: flex-start;
}

/* scroller */
.scrollerWrap-2lJEkd {
    /* https://stackoverflow.com/questions/33636796/chrome-safari-not-filling-100-height-of-flex-parent */
    height: auto !important;
}

.scroller-2FKFPG {
    padding-right: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    contain: layout paint;
}

.md-no-contain-paint .scroller-2FKFPG {
    contain: layout;
}

.scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG,
.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG {
    padding-right: 8px;
}

/* modal */
.modal-3HD5ck {
    max-width: 100%;
    max-height: none; /* for Safari */
}

.inner-3wn6Q5 {
    padding-right: 20px !important;
}

/* modal title */
.title-3sZWYQ {
    min-width: 1px;
}

/* activity */
.activityProfile-2bJRaP .bodyNormal-2D39hT {
    flex-wrap: wrap;
    margin: -4px -10px;
}

.activityProfile-2bJRaP .assets-VMAukC,
.contentImagesProfile-1Mz07W,
.actionsProfile-1QS4n-,
.listeningActionsProfile-1fYwru,
.actionsProfile-jEtjVX {
    margin: 4px 10px;
}

.contentNoImagesProfile-371_Rv {
    margin: 4px 10px 0;
}

/* user popout */
.member-roles .member-role .member-role-remove {
    box-sizing: content-box;
    padding: 7px 9px;
    margin: -7px -9px;
    margin-left: 3px;
}

.member-roles .member-role.member-role-add button {
    box-sizing: content-box;
    padding: 7px 9px;
    margin: -7px -9px;
}

/* old scroller */
.scroller-wrap .scroller {
    padding-right: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    contain: layout paint;
}

.md-no-contain-paint .scroller-wrap .scroller {
    contain: layout;
}

/* dropdown menu */
.Select-menu {
    -ms-scroll-chaining: none;
}

/* slider */
.track-11EASc,
.grabber-3mFHz2 {
    touch-action: none;
}

.track-11EASc:active .bubble-3we2di {
    opacity: 1;
}

/* connecting */
.container-16j22k {
    background-color: #25262a;
}

.container-16j22k video {
    position: relative; /* enable independent composition */
}

/* copyable textbox */
.clipboard-input-inner input {
    min-width: 1px;
}

/* popout */
.popouts {
    right: 0;
}

.popout,
.popout-3sVMXz {
    max-width: 100%;
    /* remove blur filter for performance */
    filter: none;
}

/* channels */
.container-2Thooq {
    padding-right: 2px;
}

.accountDetails-3k9g4n {
    min-width: 1px;
}

.button-2b6hmh {
    width: 48px;
    height: 48px;
    background-size: 24px 24px;
}

.md-app :nth-child(2) > .button-2b6hmh {
    display: none;
}

.button-2b6hmh svg {
    width: 24px;
    height: 24px;
}

.container-1UB9sr {
    padding: 2px;
}

.inner-btChU7 {
    margin: 8px 0 8px 8px;
}

.inner-btChU7 .rtc-connection-status .ping {
    flex: none;
}

.inner-btChU7 .channel-SEolQq {
    line-height: 1.4;
    margin-top: 2px;
}

.button-2KyEfG {
    width: 48px;
    height: 48px;
    background-size: 24px 24px;
}

/* tutorial popout */
.tutorial-popout {
    max-width: 100%;
}

/* chat */
.chat > .title-wrap > .title {
    flex-shrink: 1;
}

.chat > .title-wrap > .title .channel-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat > .title-wrap > .topic {
    width: 24px; /* intrinsic size */
    min-width: 24px;
    padding-top: 13px;
    padding-right: 12px;
    padding-bottom: 13px;
    top: auto;
}

.topic-2QX7LI {
    width: 36px; /* intrinsic size */
    min-width: 36px;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 12px;
    margin-right: -12px;
    top: auto;
}

.chat > .title-wrap > .topic::before,
.topic-2QX7LI::before {
    top: auto;
}

@keyframes md-fade-in {
    from {
        opacity: 0;
    }
}

@keyframes md-fade-out {
    to {
        opacity: 0;
    }
}

.chat .messages-wrapper {
    animation: md-fade-in .1s ease-out;
}

/* modals */
.form.deprecated,
.instant-invite-modal {
    max-width: 100%;
}

.size-JLvFeT {
    min-height: 1px;
}

.content-8biNdB img {
    height: auto;
}

.content-8biNdB video {
    width: 100%;
    height: auto;
}

/* image */
.imageWrapper-2p5ogY,
.embedVideo-3nf0O9 {
    display: inline-block;
    align-self: flex-start;
    z-index: 0;
}

.md-image-placeholder {
    display: block;
    max-width: 100%;
}

.imageWrapper-2p5ogY > img,
.imageWrapper-2p5ogY > video,
.imageWrapper-2p5ogY > .wrapper-2TxpI8,
.imagePlaceholder-1AxUV5,
.embedVideo-3nf0O9 > .imageWrapper-2p5ogY,
.embedVideo-3nf0O9 > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.imageAccessory-3uSIjZ {
    z-index: 1;
}

/* embed */
.embed {
    width: auto !important;
    min-width: 1px;
}

.embed .embed-content .embed-content-inner {
    min-width: 1px;
}

/* TODO: wrap thumbnail */
.embed.embed-link {
    padding: 3px 2px;
    flex-wrap: wrap;
}

.embed.embed-link .embed-inner {
    /*flex-basis: auto;*/
    min-width: 1px;
    margin: 5px 8px !important;
}

.embed.embed-link .embed-thumbnail {
    margin: 5px 8px !important;
}

.embed.embed-tweet .embed-inner > * {
    max-width: 100%;
}

/* Spotify */
.embed > iframe {
    max-width: 100%;
}

.embedInner-1-fpTo {
    z-index: 0;
}

.embedContent-3fnYWm {
    align-items: flex-start;
}

.embedProvider-3k5pfl,
.embed .embed-provider {
    max-width: 100%;
}

.embedAuthorName-3mnTWj,
.embed .embed-author-name {
    max-width: 100%;
    min-width: 1px;
}

.embed .embed-footer {
    max-width: 100%;
}

.embedTitle-3OXDkz,
.embed .embed-title {
    max-width: 100%;
}

.embedImage-2W1cML {
    z-index: 0;
}

.embedImage-2W1cML .imageWrapper-2p5ogY {
    border-radius: 0;
}

.embedGIFTag-n_mDqR {
    z-index: 1;
}

.embedFooterText-28V_Wb {
    min-width: 1px;
}

/* upload modal */
.uploadModal-2ifh8j {
    max-width: 100%;
}

/* new-user modal */
.modal-new-user > .steps {
    max-width: 100%;
}

.modal-new-user > .steps > li {
    max-width: 100%;
    overflow: auto;
}

.modal-new-user > .steps .step-2 .guild-form {
    flex-wrap: wrap;
    margin: -16px;
}

.modal-new-user > .steps .step-2 .guild-form li {
    margin: 16px;
}

/* help */
.need-help-modal.deprecated .header {
    flex: none; /* for Safari */
}

.need-help-modal.deprecated .header input[type=text] {
    align-self: stretch;
    margin-left: 30px !important;
    margin-right: 30px !important;
    width: auto;
}

.need-help-modal.deprecated .form-inner {
    min-height: auto;
    overflow: auto;
    justify-content: flex-start !important;
    -webkit-overflow-scrolling: touch;
    contain: layout paint;
}

.md-no-contain-paint .need-help-modal.deprecated .form-inner {
    contain: layout;
}

.need-help-modal.deprecated .footer {
    flex: none;
}

/* user agreements modal */
.modal-DRZfgq {
    overflow-y: auto;
    max-width: 100%;
}

.modal-DRZfgq img {
    min-width: 1px;
}

/* ChannelTextArea */
.attachButton-1UjEWA {
    height: auto;
    margin: 0;
    padding: 10px;
}

.attachButtonDivider-3Glu60 {
    margin-right: 0;
    margin-left: 0;
}

.textArea-2Spzkt {
    border: 2px solid transparent;
    margin: 0;
}

.textAreaEnabled-3vQ5WZ {
    padding-right: 54px;
    padding-left: 10px;
}

.textAreaDisabled-2_o-kZ,
.textAreaEdit-bNLDk3,
.textAreaEnabledNoAttach-1WxUwj,
.textAreaForm-18s4EO {
    padding-right: 54px;
    padding-left: 10px;
}

.textAreaDisabled-2_o-kZ {
    padding-right: 10px;
}

.emojiButton-2wRZts {
    top: 0;
    right: 0;
    bottom: 0;
    padding: 11px;
}

/* emoji picker */
.emojiPicker-3m1S-j {
    /* avoid rounded clipping for performance */
    overflow: visible;
}

.emojiPicker-3m1S-j .dimmer-3iH-5D {
    /* fix accelerated scrolling on Chrome */
    background-color: hsla(0,0%,100%,.6);
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    opacity: 1;
}

.emojiPicker-3m1S-j .header-1nkwgG {
    position: relative; /* fix z-index */
}

/* video player */
.wrapper-2TxpI8 {
    border-radius: 0;
}

.video-8eMOth {
    border-radius: 0;
}

/* invite button */
.invite-button {
    align-self: stretch;
    max-width: 240px;
    width: auto;
}

.invite-button-inner {
    min-width: 1px;
}

.invite-button .invite-button-body,
.invite-button .invite-button-header {
    width: auto;
}

/* system message */
.system-message .system-message-content {
    min-width: 1px;
}

/* reactions */
.reactions {
    margin-right: -2px;
}

.reactors-Blmlhw {
    flex-shrink: 1;
    min-width: 1px;
}

/* titlebar buttons */
.header-toolbar {
    margin-left: auto;
    margin-right: -20px;
}

.header-toolbar .search {
    margin-right: 8px;
}

.header-toolbar button {
    box-sizing: content-box;
    border: 9px solid transparent;
}

.header-toolbar button + button {
    margin-left: 0;
}

.header-toolbar .separator {
    margin-right: 0;
    margin-left: 0;
}

.header-toolbar .separator.separator-win {
    margin-right: 106px;
}

/* old settings modal */
.notification-settings-modal .notification-settings-modal-channel-settings-list {
    padding-right: 54px;
}

/* settings UI */
.ui-standard-sidebar-view .sidebar-region {
    flex-basis: 226px;
}

.ui-standard-sidebar-view .content-transition-wrap {
    display: flex;
    height: auto; /* for Safari */
}

.ui-standard-sidebar-view .content-region {
    flex-basis: 811px;
    align-items: stretch;
}

.ui-standard-sidebar-view .content-region-scroller {
    contain: layout;
}

.ui-standard-sidebar-view .content-region-scroller .tools {
    padding-right: 0;
    margin-right: 21px;
}

.ui-standard-sidebar-view .content-column,
.ui-standard-sidebar-view .custom-column {
    width: 1px;
    min-width: 1px;
    min-height: auto;
}

.ui-standard-sidebar-view .content-column.default {
    max-width: 726px;
    padding-right: 26px;
    transition: padding-left .2s, padding-right .2s;
}

.ui-standard-sidebar-view .content-column.minimal {
    max-width: 766px;
    padding-right: 26px;
    padding-left: 40px;
    margin-left: -40px;
    transition: padding-right .2s;
}

.ui-standard-sidebar-view .custom-column {
    max-width: 726px;
}

.ui-standard-sidebar-view .custom-container {
    display: flex;
    flex-direction: column;
}

.ui-standard-sidebar-view .custom-scroller > div {
    margin-right: 26px;
    transition: margin-left .2s, margin-right .2s;
}

.ui-standard-sidebar-view .tools {
    box-sizing: content-box;
    padding-top: 0;
    padding-right: 14px;
    padding-left: 14px;
    margin-top: 60px;
    margin-right: 21px;
    transition: margin .2s;
}

.ui-standard-sidebar-view .esc-text {
    pointer-events: none;
    transition: opacity .2s;
}

.ui-standard-sidebar-view .btn-close {
    box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.05), 0px 2px 2px 0px rgba(0,0,0,0.1), 0px 3px 3px 0px rgba(0,0,0,0.05);
}

.ui-standard-sidebar-view .btn-close:active {
    box-shadow: none;
}

.theme-light .ui-standard-sidebar-view .btn-close {
    background-color: #fff;
}

.theme-dark .ui-standard-sidebar-view .btn-close {
    background-color: #36393f;
}

.theme-dark .ui-standard-sidebar-view .btn-close:hover {
    background-color: #484B52;
}

@media not all and (min-width: 1037px) {
    .ui-standard-sidebar-view .tools {
        position: fixed;
        right: 0;
        padding-top: 0;
        padding-right: 14px !important;
        margin-top: 12px;
        margin-right: 21px !important;
        width: 36px;
        z-index: 100;
    }

    .ui-standard-sidebar-view .esc-text {
        opacity: 0;
    }

    .ui-standard-sidebar-view .btn-close {
        position: absolute; /* for IE/Edge */
    }

    .platform-win .ui-standard-sidebar-view .tools {
        margin-top: 57px;
    }
}

@media not all and (min-width: 966px) {
    .ui-standard-sidebar-view .content-column.default {
        padding-right: 10px;
        padding-left: 24px;
    }

    .ui-standard-sidebar-view .content-column.minimal {
        padding-right: 10px;
        padding-left: 24px;
        margin-left: -24px;
    }

    .ui-standard-sidebar-view .custom-scroller > div {
        min-width: 1px;
        margin-right: 10px;
        margin-left: 24px;
    }

    .ui-standard-sidebar-view .tools {
        margin-right: 10px !important;
        margin-left: 11px;
    }

    .ui-hover-card:before {
        right: -10px;
        left: -10px;
    }

    .emoji-row .emoji-remove {
        right: -21px;
    }

    .invite-settings-invite-row .revoke-invite {
        right: -21px;
    }

    .user-settings-keybinds .remove-keybind {
        right: -21px;
    }

    .user-settings-games .game .remove-game {
        right: -21px;
    }
}

@media not all and (min-width: 692px) {
    .ui-standard-sidebar-view {
        overflow-x: scroll;
        overflow-y: hidden;
        position: static;
        flex: 1;
        padding: 0;
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        scroll-snap-type: x mandatory;
        -ms-scroll-snap-points-x: snapList(0, 226px);
        /*-ms-overflow-style: none;*/
        -webkit-overflow-scrolling: touch;
    }

    .ui-standard-sidebar-view .sidebar-region {
        scroll-snap-coordinate: 0% 0%;
        scroll-snap-align: start;
    }

    .ui-standard-sidebar-view .content-region {
        scroll-snap-coordinate: 0% 0%;
        scroll-snap-align: start;
    }

    .ui-standard-sidebar-view .content-column.default {
        width: calc(100vw - 14px);
        padding-right: 2px;
        padding-left: 16px;
    }

    .ui-standard-sidebar-view .content-column.minimal {
        width: calc(100vw + 2px);
        padding-right: 2px;
        padding-left: 16px;
        margin-left: -16px;
    }

    .ui-standard-sidebar-view .custom-column {
        width: 100vw;
    }

    .ui-standard-sidebar-view .custom-scroller > div {
        margin-right: 2px;
        margin-left: 16px;
    }

    .ui-standard-sidebar-view .tools {
        margin-right: 2px !important;
        margin-left: 19px;
    }
}

@media not all and (min-width: 460px) {
    .ui-standard-sidebar-view {
        -ms-scroll-snap-points-x: snapList(0, 226px, 458px);
    }

    .ui-standard-sidebar-view .content-region-scroller {
        scroll-snap-coordinate: calc(100% - 100vw) 0%;
        scroll-snap-align: end;
    }

    .ui-standard-sidebar-view .content-column.minimal {
        width: calc(100vw + 234px);
    }
}

.guildSettingsBaseSection-3XBkfG {
    flex-wrap: wrap;
    margin: -10px -10px 30px -10px;
}

.guildSettingsBaseSection-3XBkfG > .flex-1xMQg5,
.guildSettingsBaseSection-3XBkfG > .flexChild-faoVW3 {
    margin: 10px !important;
    flex-basis: calc(50% - 20px) !important;
}

.guildSettingsBaseSection-3XBkfG + .divider-3573oO + .margin-bottom-40 > .horizontal-1ae9ci {
    flex-wrap: wrap;
    margin: -10px;
}

.guildSettingsBaseSection-3XBkfG + .divider-3573oO + .margin-bottom-40 > .horizontal-1ae9ci > .flexChild-faoVW3 {
    flex-basis: 320px !important;
    margin: 10px;
}

.guild-settings-widget img.flexChild-faoVW3 {
    min-width: 1px;
}

/* empty placeholder */
.ui-standard-sidebar-view .wrapper-r-6rrt {
    height: auto; /* for Safari */
}

/* voice settings */
.userSettingsVoice-iwdUCU > .flex-vertical > .horizontal-1ae9ci,
.userSettingsVoice-iwdUCU > .flex-vertical > div > .horizontal-1ae9ci.alignStretch-DpGPf3 {
    flex-wrap: wrap;
    margin: -10px;
}

.userSettingsVoice-iwdUCU > .flex-vertical > .horizontal-1ae9ci.margin-bottom-20 {
    margin-bottom: 10px;
}

.userSettingsVoice-iwdUCU > .flex-vertical > .horizontal-1ae9ci > .flexChild-faoVW3,
.userSettingsVoice-iwdUCU > .flex-vertical > div > .horizontal-1ae9ci.alignStretch-DpGPf3 > .flexChild-faoVW3 {
    flex-basis: 320px !important;
    margin: 10px;
}

.md-app .userSettingsVoice-iwdUCU .volume {
    display: none;
}

/* instant invite */
#instant-invite-modal .form-actions .advanced {
    box-sizing: content-box;
    padding: 13.5px;
    margin: -13.5px;
    background-repeat: no-repeat;
    background-origin: content-box;
}

/* roles settings */
.sidebarScrollable-1qPI87 {
    display: flex;
}

/* user profile */
#user-profile-modal {
    overflow: visible;
    background-color: #fff;
}

#user-profile-modal .avatar-wrapper,
#user-profile-modal .header,
#user-profile-modal .scroller,
#user-profile-modal .empty {
    background-color: transparent;
}

#user-profile-modal .header,
#user-profile-modal .header::after {
    border-radius: 3px 3px 0 0;
}

#user-profile-modal .tab-bar-container {
    background-color: transparent;
    box-shadow: none;
}

.root-SR8cQa {
    max-width: 100%;
    overflow: visible;
}

.topSectionNormal-2-vo2m,
.topSectionStreaming-1Tpf5X,
.topSectionSpotify-1lI0-P,
.topSectionPlaying-1J5E4n {
    border-radius: 8px 8px 0 0;
}

.header-QKLPzZ {
    flex-wrap: wrap;
}

.headerInfo-30uryT + .button-38aScr {
    margin-left: auto;
}

.tabBarContainer-1s1u-z {
    overflow: auto;
    display: flex;
}

.tabBar-2MuP6- {
    padding-right: 20px;
}

.body-3ND3kc {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    z-index: 0;
}

/* quick switcher */
.quickswitcher-container {
    max-width: 100%;
}

.quickswitcher {
    max-width: 100%;
}

.quickswitcher .results-scroller-outer .results-scroller {
    padding-right: 17px;
}

/* modal container */
.popouts + .theme-dark,
.popouts + .theme-light,
.popouts-3dRSmE + .theme-dark,
.popouts-3dRSmE + .theme-light {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    -ms-content-zooming: zoom;
    -webkit-overflow-scrolling: touch;
}

.popouts + .theme-dark:empty,
.popouts + .theme-light:empty,
.popouts-3dRSmE + .theme-dark:empty,
.popouts-3dRSmE + .theme-light:empty {
    visibility: hidden;
    -ms-content-zoom-limit: 100% 100%; /* reset zoom */
}

.modal-1UGdnR {
    position: absolute;
    contain: layout style; /* HACK: allow modals to overflow */
}

.inner-1JeGVc {
    margin: auto;
    max-width: 100%;
    min-height: 1px;
}

/* basic types */
body {
    -webkit-touch-callout: none;
    -ms-scroll-translation: vertical-to-horizontal;
    -ms-content-zooming: none;
    text-size-adjust: none;
    background-color: #282b30;
}

.callout-backdrop {
    position: fixed;
}

/* login */
.auth-center {
    flex-direction: column;
}

form.deprecated.auth-form {
    overflow: auto;
}

@media (max-width: 628px) {
    .auth-center {
        align-items: stretch;
    }

    .auth-inner {
        flex: 1;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: auto;
        border-radius: 0;
    }

    .auth-inner .auth-brand {
        width: auto;
    }

    form.deprecated.auth-form {
        width: auto;
        height: auto;
        padding: 16px;
        flex: 1;
        overflow: visible;
        min-width: 1px;
    }

    form.deprecated.auth-form p.token-tip {
        width: auto;
    }

    form.auth-form input {
        width: 100% !important;
    }
}

@media not all and (min-width: 1068px) {
    .invite-marketing-wrapper .auth-center {
        padding-left: 0;
    }

    .invite-marketing {
        display: none;
    }
}

/* guilds */
.md-app .guilds-wrapper .btn-download-apps {
    display: none;
}

/* user settings */
.userSettingsAccount-2eMFVR .userInfoViewingButton-2-jbH9 {
    top: 4px;
    right: 4px;
}

.userSettingsSecurity-3IYeMF > .flex-vertical > .directionRow-3v3tfG > .flexChild-faoVW3 {
    min-width: 1px;
}

/* reations modal */
.size-2kUz0R {
    flex-basis: auto;
}

/* members */
.member-3W1lQa {
    align-items: stretch;
    border-radius: 0; /* fix avatar filter */
}

.content-OzHfo4 {
    min-width: 1px;
    border-radius: 3px;
}

/* messages */
.chat .empty-message {
    margin-right: 6px;
    word-wrap: break-word;
}

@media not all and (min-width: 1000px) {
    .chat .empty-message {
        background-size: 192px 80px, 0 !important;
    }
}

.chat .welcome-message {
    padding-right: 6px;
}

.chat .welcome-message h1 {
    line-height: 24px;
    margin-top: 7px;
    margin-bottom: 22px;
}

.chat .welcome-message .item-container .icon {
    flex-shrink: 0;
}

.chat .welcome-message p {
    width: auto;
    max-width: 334px;
}

@media (pointer: coarse) {
    .md-app .message-group .btn-option,
    .md-app .message-group .btn-reaction {
        width: 0;
        height: 0;
    }
}

.message-group .accessory {
    align-items: stretch;
}

.message-group .comment .markup pre {
    max-width: none;
}

.message-group .comment .markup pre code {
    overflow-x: visible;
}
 
.typing-2GQL18 .text-1y-e8-,
.typing .text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.typing-2GQL18 .ellipsis-19qdx6,
.typing .ellipsis {
    margin-top: -2px;
} 

/* messages popout */
.messages-popout-wrap,
.messagesPopoutWrap-1MQ1bW {
    max-width: 100%;
}

.messages-popout,
.messagesPopout-24nkyi {
    border-radius: 0; /* for performance */
    padding-right: 19px !important;
}

.messages-popout .message-group .action-buttons .jump-button .loading,
.actionButtons-1sUUug .jumpButton-3DTcS_ .loading-2bJK5L {
    display: none; /* high CPU usage on Edge */
}

.messages-popout .message-group .action-buttons .jump-button .loading.visible,
.actionButtons-1sUUug .jumpButton-3DTcS_ .loading-2bJK5L.visible-1PE5Ym {
    display: flex;
}

/* phone verification */
.phoneField-38N1bJ .inputField-aNPXsv {
    min-width: 1px;
}

.phoneFieldPopout-h7c9mt .scrollerWrap-NaJt1D {
    height: 196px !important;
}

.input-3yHnCz {
    min-width: 1px;
}

.phoneVerificationModal-OzcDc3 {
    max-width: calc(100% - 20px);
}

.phoneVerificationModal-OzcDc3 .animationContainer-WJHr_z {
    left: auto;
    right: auto;
}

.phoneVerificationModal-OzcDc3 .field-wKpjTl {
    margin-left: 0;
    margin-right: 0;
    align-items: stretch;
}

.phoneVerificationModal-OzcDc3 .field-wKpjTl .button-38aScr {
    margin-right: auto;
    margin-left: auto;
}

/* video call */
.video-1FfuMD.fullScreen-lH2Q2c:not(.idle-1sRXLT) .videoWrapper-2wbLD-:focus .videoBottom-2_HYXG,
.video-1FfuMD.noChat-3nt48u:not(.idle-1sRXLT) .videoWrapper-2wbLD-:focus .videoBottom-2_HYXG,
.video-1FfuMD.normal-1jW0uq:not(.idle-1sRXLT) .videoWrapper-2wbLD-:focus .videoBottom-2_HYXG {
    opacity: 1;
    transform: translateZ(0);
}

.video-1kutKI {
    pointer-events: none;
}

/* private channel invite */
.private-channel-recipients-invite {
    overflow: visible; /* for performance */
}

/* titlebar call buttons */
.private-channel-call-btns-wrapper {
    margin-right: 0;
    height: 48px;
}

/* search */
.search-results-wrap {
    max-width: 100vw;
    height: auto;
}

.search-results-wrap .scroller-wrap .scroller {
    padding-right: 14px;
}

.search-results-wrap .results-wrapper {
    min-height: 100%;
    height: auto; /* for bottom margin */
}

/* nsfw */
.nsfw-1jCH4N {
    width: auto;
    height: auto;
    min-width: 1px;
    padding: 20px;
    position: relative;
    z-index: 0;
    animation: md-fade-in .1s ease-out;
}

/* no-channel */
.channels-wrap + .wrapper-r-6rrt {
    box-sizing: border-box;
    padding: 20px;
    max-width: none;
    animation: md-fade-in .1s ease-out;
}

.channels-wrap + .wrapper-r-6rrt > .flexChild-faoVW3 {
    max-width: 440px;
}

.noChannel-Z1DQK7 {
    box-sizing: border-box;
    padding: 20px;
}

.noChannel-Z1DQK7 > .wrapper-r-6rrt {
    position: relative;
    z-index: 0;
    animation: md-fade-in .1s ease-out;
}

/* friends */
#friends .friends-table {
    animation: md-fade-in .1s ease-out;
}

@media not all and (min-width: 1011px) {
    #friends .friends-table .friend-table-add-wrapper .friend-table-add-header .friends-table-add {
        padding-right: 16px;
        padding-left: 16px;
    }

    #friends .friends-table .friend-table-add-wrapper .friend-table-suggestions-header {
        padding-right: 16px;
        padding-left: 16px;
    }

    #friends .friends-table .friends-table-header {
        padding-right: 16px;
        padding-left: 16px;
    }

    #friends .friends-table .friends-table-header .friends-column-separator {
        margin-right: 15px;
        margin-left: 0;
    }

    #friends .friends-table .friends-row {
        margin-right: 2px;
        margin-left: 16px;
    }

    #friends .friends-table .friends-row .discord-tag .discriminator {
        display: none;
    }

    #friends .friends-table .friends-row .friends-column + .friends-column {
        margin-left: 16px;
    }

    #friends .friends-table .friends-row:hover {
        margin-right: -8px;
        margin-left: 6px;
    }

    #friends .friends-table .friends-column-name {
        width: 150px;
    }
}

/* channel notices */
.channel-notices .channel-notice .close {
    padding: 6.75px;
    margin: -6.75px;
    background-repeat: no-repeat;
    background-origin: content-box;
}

/* channels */
.scroller-2v3d_F {
    position: relative;
    z-index: 0;
    animation: md-fade-in .1s ease-out;
    transition: opacity .1s ease-out;
}

/* private channels */
.private-channels .scroller-2FKFPG {
    position: relative;
    z-index: 0;
    animation: md-fade-in .1s ease-out;
    transition: opacity .1s ease-out;
}

/* notice */
.notice::before {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    content: "";
}

/* layers */
.container-2lgZY8 {
    min-height: 1px;
}

.base-3dtUhz {
    z-index: 0; /* for Edge */
}

.base-3dtUhz > .flexChild-faoVW3 {
    display: flex;
}

.base-3dtUhz > .flexChild-faoVW3 > div {
    flex: 1 1 0;
    min-width: 1px;
}

.base-3dtUhz > .flex-1xMQg5 {
    min-height: 1px;
}

.layers-3iHuyZ > .layer-3QrUeG,
.layers > .layer {
    z-index: 0;
    animation: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.layers-3iHuyZ > .layer-3QrUeG.animating-rRxada,
.layers > .layer.animating {
    pointer-events: auto;
}

@keyframes md-layer-in {
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes md-layer-out {
    to {
        opacity: 0;
        transform: scale(1.1);
    }
}

@keyframes md-layer-under {
    to {
        opacity: 0;
        transform: scale(.93);
    }
}

/* onboarding */
.onboarding-slide > .scroller-wrap .scroller {
    padding-right: 16px;
    padding-left: 16px;
}

.onboarding-slide .measuring-container {
    min-width: 1px;
}

.onboarding-slide .slide-header h1 {
    line-height: normal;
}

.onboarding-slide .content {
    max-width: 100%;
}

.onboarding-slide .content > .button-circle-uploader {
    width: auto;
}

.nuf-page .bordered {
    max-width: 100%;
}

.onboarding-navigation {
    max-width: 100%;
}

.button-circle-uploader {
    height: auto;
    flex-wrap: wrap;
    margin: -20px;
}

.button-circle-uploader .button-circle-uploader-content,
.button-circle-uploader .avatar-uploader {
    margin: 20px;
    flex-grow: 1;
}

/* app */
.appMount-3VJmYg {
    z-index: 0; /* for Edge */
}

.appMount-3VJmYg[hidden] {
    display: none;
}

/* fold channel members */
@media not all and (min-width: 870px) {
    .layers > .layer > section,
    .container-2lgZY8 {
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        scroll-snap-type: x mandatory;
        -ms-scroll-snap-points-x: snapList(0, 240px);
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        contain: layout paint;
    }

    .md-no-contain-paint .layers > .layer > section,
    .md-no-contain-paint .container-2lgZY8 {
        contain: layout;
    }

    .guilds-wrapper {
        scroll-snap-coordinate: 0% 0%;
        scroll-snap-align: start;
    }

    .chat {
        flex: 1 0 auto;
    }

    #friends {
        flex: 1 0 auto;
    }

    @supports (-ms-scroll-snap-points-x: snapList(0, 240px)) {
        .chat,
        #friends {
            width: calc(100vw - 70px);
        }
    }

    .chat,
    #friends {
        overflow: visible;
    }

    .chat > .title-wrap,
    .title-3qD0b-,
    #friends .friends-header {
        scroll-snap-coordinate: calc(100% - 100vw) 0%;
        scroll-snap-align: end;
    }

    .chat > .content > .flex-spacer,
    .chat > .content > .flex-1xMQg5 {
        flex: none !important;
        width: calc(100vw - 310px);
    }

    .private-channel-call,
    .video-1FfuMD,
    .noChannel-Z1DQK7 {
        width: calc(100vw - 310px);
    }

    .base-3dtUhz {
        flex-shrink: 0 !important;
    }
}

/* fold guilds/channels */
@media not all and (min-width: 630px) {
    .layers > .layer > section,
    .container-2lgZY8 {
        -ms-scroll-snap-points-x: snapList(0, 310px, 550px);
    }

    .chat,
    #friends {
        scroll-snap-coordinate: 0% 0%;
        scroll-snap-align: start;
    }

    @supports (-ms-scroll-snap-points-x: snapList(0, 310px, 550px)) {
        .chat,
        #friends {
            width: calc(100vw + 240px);
        }
    }

    .chat > .content > .flex-spacer,
    .chat > .content > .flex-1xMQg5,
    .private-channel-call,
    .video-1FfuMD,
    .noChannel-Z1DQK7 {
        width: 100vw;
    }

    .channels-wrap + .wrapper-r-6rrt {
        flex-shrink: 0 !important;
    }
}

/* reduce margins */
@media not all and (min-width: 450px) and (min-height: 450px) {
    .chat .divider {
        margin-left: 16px;
        margin-right: 2px;
    }

    .chat .has-more button {
        margin-right: 2px;
        margin-left: 15px;
    }

    .chat .jump-to-present-bar {
        left: 16px;
        right: 16px;
    }

    .chat .new-messages-bar {
        left: 16px;
        right: 16px;
    }

    .chat form {
        margin: 0 16px;
    }

    .message-group-blocked {
        margin-right: 2px;
        margin-left: 15px;
    }

    .message-group-blocked .message-group {
        margin-right: 15px;
    }

    .channels-wrap + .wrapper-r-6rrt,
    .noChannel-Z1DQK7 {
        padding: 16px;
    }

    .channel-textarea {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .channel-textarea-inner {
        padding: 9px 8px;
    }

    .channel-textarea-inner textarea {
        width: auto;
        margin-right: 36px;
        flex: 1;
    }

    .channel-textarea-upload {
        margin: -9px 8px -9px -8px;
        width: 36px;
    }

    .channel-textarea-emoji {
        width: 40px;
        margin: -2px;
    }

    .attachButton-1UjEWA {
        padding: 8px;
    }

    .textAreaEnabled-3vQ5WZ {
        padding: 8px 48px 8px 8px;
    }

    .textAreaDisabled-2_o-kZ,
    .textAreaEdit-bNLDk3,
    .textAreaEnabledNoAttach-1WxUwj,
    .textAreaForm-18s4EO {
        padding: 8px 48px 8px 8px;
    }

    .textAreaDisabled-2_o-kZ {
        padding-right: 8px;
    }

    .emojiButton-2wRZts {
        padding: 9px;
    }

    .chat .empty-message {
        margin-left: 16px;
        margin-right: 2px;
    }

    .chat .welcome-message {
        padding: 16px 2px 16px 16px;
    }

    .chat .welcome-message p {
        margin-left: 16px;
        margin-bottom: 16px;
    }

    .message-group {
        padding-top: 16px;
        padding-bottom: 16px;
        margin-left: 16px;
        margin-right: 2px;
    }

    .message-group .avatar-large {
        margin-right: 16px;
    }

    .message-group .comment {
        margin-right: 0;
    }

    .message-group.compact .accessory {
        padding-left: 80px;
    }

    .message-group.compact .timestamp {
        width: 45px;
    }

    .message-group.compact .message .message-text .markup {
        text-indent: -80px;
        padding-left: 80px;
    }
 
    .typing-2GQL18,
    .typing {
        height: 22px;
        line-height: 22px;
    }

    .typing-2GQL18 .ellipsis-19qdx6,
    .typing .ellipsis {
        margin-top: 0;
    } 

    .channel-textarea-guard {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .wrapper-29NfPK .actions-2vadYq {
        padding: 16px;
    }

    .wrapper-29NfPK .actions-2vadYq .center-1Vp33r {
        margin-left: -18px;
        margin-right: -18px;
    }

    .nsfw-1jCH4N {
        padding: 16px;
    }
 
    .channelTextArea-rNsIhG {
        margin-top: 16px;
        margin-bottom: 24px;
    }
}

/* CompactOverlay mode */
@media not all and (min-width: 310px) {
    .layers > .layer > section,
    .container-2lgZY8 {
        -ms-scroll-snap-points-x: snapList(0, 288px, 528px);
    }

    @supports (-ms-scroll-snap-points-x: snapList(0, 288px, 528px)) {
        .chat,
        #friends {
            width: calc(100vw + 240px);
        }
    }

    .guilds-wrapper {
        width: 56px;
    }

    .guilds-wrapper .guilds .friends-icon {
        width: 36px;
        height: 36px;
        background-size: 23.04px 20.16px;
    }

    .guilds-wrapper .guilds .friends-online {
        font-size: 8px;
        width: 36px;
    }

    .guilds-wrapper .guilds .guild {
        width: 36px;
        height: 36px;
    }

    .guilds-wrapper .guilds .guild .avatar-small {
        width: 36px;
        height: 36px;
        background-size: 36px 36px;
    }

    .guilds-wrapper .guilds .guild.selected:before {
        height: 28.8px;
        margin-top: -14.4px;
    }

    .guilds-wrapper .guilds .guild .guild-inner {
        border-radius: 18px !important;
        line-height: 36px;
    }

    .guilds-wrapper .guilds .guild.active .guild-inner,
    .guilds-wrapper .guilds .guild.selected .guild-inner,
    .guilds-wrapper .guilds .guild:hover .guild-inner {
        border-radius: 12px !important;
    }

    .guilds-wrapper .guilds .guild .guild-inner a {
        width: 36px;
        height: 36px;
    }

    .guilds-wrapper .guild-separator {
        width: 36px;
    }

    .guilds-wrapper .guilds-error {
        width: 36px;
        height: 36px;
        line-height: 33.12px;
    }

    .guilds-wrapper .guilds-add {
        font-size: 28.8px;
    }

    .channels-wrap,
    .channels-Ie2l6A {
        width: 232px;
    }
}

/* hide mouseover elements for Mobile Safari */
@media (any-hover: none) {
    .tooltip,
    .iconSpacing-3JkGQO,
    .private-channels .channel:hover .close {
        display: none;
    }
}
